h1,
h2,
h3,
h4,
p,
a {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color: $BLA;

	line-height: 140%;

	// Font weight
	&.w-sb {
		font-weight: 500;
	}

	&.w-b {
		font-weight: 700;
	}

	// Text color
	&.c-bll {
		color: $BLL;
	}

	&.c-blm {
		color: $BLM;
	}

	&.c-wht {
		color: $WHT;
	}

	// Font size
	&.fs-s {
		font-size: 13px;
	}

	&.fs-xs {
		font-size: 16px;
	}

	&.fs-m {
		font-size: 18px;
	}

	&.fs-l {
		font-size: 20px;
	}

	// Font types
	&.up {
		text-transform: uppercase;
	}

	&.link {
		color: $ACM;
		text-decoration: underline;

		@include link-hover($ACD);
	}
}

h1,
h2 {
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	// font-size: 40px;
	font-size: 38px;
	color: $WHT;

	line-height: 110%;
}

h2 {
	// font-size: 35px;
	font-size: 32px;
}

h3 {
	font-size: 20px;
	font-weight: 700;
}

.title {
	@include title(10px, 80%);

	&__hr {
		width: 100%;
		height: 1px;
		background-color: $BLA;
	}
}

.button,
.button-border,
.button-fill {
	border-radius: $radius-s;
	max-width: 100%;
	padding: 0;
	margin: 0;

	outline: none;

	cursor: pointer;
	transition: all .2s ease-in-out 0s;

	position: relative;
	overflow: hidden;

	font-size: 16px;
	font-weight: 500;
	color: $WHT;

	@include flex(center, center, row);

	&:hover {
		border-radius: $radius-m;
	}
}

.button {
	border: 0px;
	background: $btn-gradient;

	width: 270px;
	height: 50px;
}

.button-border {
	border: 2px $WHT solid;

	width: 290px;
	height: 44px;

	&::before {
		color: $WHT;
		@include pseudo('Смотреть презентацию');
		@include flex(center, center, row);
		transition: all .2s ease-in-out 0s;

		cursor: pointer;

		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		width: 100%;
		height: 100%;

		background: rgba(236, 236, 236, 0.2);
		backdrop-filter: blur(10px);
	}

	&:hover {
		&::before {
			background: rgba(236, 236, 236, 0);
		}
	}
}

.button-fill {
	border: 0px;
	background: $ACM;

	width: 100%;
	height: 50px;

	&:hover {
		background-color: $ACD;
	}
}

.input {
	border-radius: $radius-s;
	border: $bla-border;

	outline: none;

	height: 50px;
	padding: 0 25px;

	font-size: 16px;
	color: $BLA;
	background-color: transparent;

	&::placeholder {
		color: $BLA;
	}
}