// Color pallete
$WHT: #FFFFFF;
$GRY: #ECECEC;
$BLA: #232323;

$ACL: #3C84C6;
$ACM: #4B60CC;
$ACD: #384FCA;

$BLL: #00B2FF;
$BLM: #012e71;
$BLD: #00245B;

$PRL: #A834D0;
$PRD: #8800B8;
$PNL: #CB416A;
$PND: #99005C;
$ORN: #D47300;


// UI Variables
$radius-s: 10px;
$radius-m: 15px;

$bla-border: 1px $BLA solid;
$btn-gradient: linear-gradient(125deg, rgba(12, 105, 255, 1) 0%, rgba(48, 205, 255, 1) 100%);