.cards {

	&__main {
		@include grid(repeat(2, 1fr), repeat(2, 1fr));
		@include gap(20px, 20px);
	}

	&__card {
		padding: 30px;
		border-radius: $radius-m;

		@include flex(space-between, flex-start, column);
		@include gap(40px, 0);

		background-color: $BLM;
	}
}