h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
  font-weight: 400;
  color: #232323;
}
h1.wsb,
h2.wsb,
h3.wsb,
h4.wsb,
p.wsb,
a.wsb {
  font-weight: 500;
}
h1.wm,
h2.wm,
h3.wm,
h4.wm,
p.wm,
a.wm {
  font-weight: 600;
}
h1.wb,
h2.wb,
h3.wb,
h4.wb,
p.wb,
a.wb {
  font-weight: 700;
}
h1.cbl,
h2.cbl,
h3.cbl,
h4.cbl,
p.cbl,
a.cbl {
  color: #00B2FF;
}
h1.cbm,
h2.cbm,
h3.cbm,
h4.cbm,
p.cbm,
a.cbm {
  color: #012e71;
}
h1.cw,
h2.cw,
h3.cw,
h4.cw,
p.cw,
a.cw {
  color: #FFFFFF;
}
h1.fs,
h2.fs,
h3.fs,
h4.fs,
p.fs,
a.fs {
  font-size: 13px;
}
h1.fxs,
h2.fxs,
h3.fxs,
h4.fxs,
p.fxs,
a.fxs {
  font-size: 16px;
}
h1.fm,
h2.fm,
h3.fm,
h4.fm,
p.fm,
a.fm {
  font-size: 18px;
}
h1.fl,
h2.fl,
h3.fl,
h4.fl,
p.fl,
a.fl {
  font-size: 20px;
}
h1.up,
h2.up,
h3.up,
h4.up,
p.up,
a.up {
  text-transform: uppercase;
}
h1.link,
h2.link,
h3.link,
h4.link,
p.link,
a.link {
  color: #4B60CC;
  text-decoration: underline;
  transition: color 0.2s ease-in-out 0s;
  cursor: pointer;
}
h1.link:hover,
h2.link:hover,
h3.link:hover,
h4.link:hover,
p.link:hover,
a.link:hover {
  color: #384FCA;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
}
h1 > .span {
  color: #00B2FF;
}

h2 {
  font-size: 30px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
}
.title > p {
  max-width: 80%;
}
.title__hr {
  width: 100%;
  height: 1px;
  background-color: #232323;
}

.button,
.button-border,
.button-fill {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  will-change: border-radius, background-color;
  transition: border-radius 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}
.button:hover,
.button-border:hover,
.button-fill:hover {
  border-radius: 20px;
}

.button,
.button-fill {
  border: none;
}

.button {
  background: linear-gradient(125deg, rgb(12, 105, 255) 0%, rgb(48, 205, 255) 100%);
  width: 270px;
  height: 50px;
}

.button-border {
  border: 2px #FFFFFF solid;
  width: 290px;
  height: 44px;
}
.button-border > .text {
  z-index: 2;
  pointer-events: none;
}
.button-border::before {
  content: "";
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out 0s;
  background: rgba(236, 236, 236, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.button-border:hover::before {
  background: rgba(236, 236, 236, 0);
}

.button-fill {
  background-color: #4B60CC;
  width: 100%;
  height: 50px;
}
.button-fill:hover {
  background-color: #384FCA;
}

.input {
  background-color: transparent;
  border-radius: 10px;
  border: 1px #232323 solid;
  outline: none;
  height: 50px;
  padding: 0 25px;
  font-size: 16px;
  color: #232323;
}
.input::-moz-placeholder {
  color: #232323;
}
.input::placeholder {
  color: #232323;
}

.plug {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: url("/resources/images/intro/background.png") center no-repeat;
  background-size: cover;
}
.plug::before {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: #232323;
}
.plug__main {
  padding: 30px;
  margin: 10px;
  width: 368px;
  max-width: 100%;
  border-radius: 15px;
  background-color: #ECECEC;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 30px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.plug__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.plug__text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
  -moz-column-gap: 0;
       column-gap: 0;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #00245B;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-track {
  background-color: #00245B;
}
html ::-webkit-scrollbar-thumb {
  background-color: #00B2FF;
  border-radius: 10px;
}

.page {
  position: relative;
  padding: 0;
  margin: 0 auto;
  background: #ECECEC;
  color: #232323;
  overflow-x: hidden;
}
.page.lock {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}
.page__plug {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page__header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  transition: all 0.3s ease-in-out 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 150px;
}
.page__header.stick-dark {
  height: 100px;
  background: rgba(0, 0, 0, 0.53);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.page__header.stick-light {
  height: 80px;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  background: #ECECEC;
  border-bottom: 1px #232323 solid;
}
.page__content {
  position: relative;
  padding-top: 150px;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
}
.page__footer {
  z-index: 1;
  width: 100%;
  background-color: #00245B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1250px) {
  .page__plug {
    display: flex;
  }
  .page__header {
    display: none;
  }
  .page__content {
    display: none;
  }
  .page__footer {
    display: none;
  }
}

.container {
  margin: 0 auto;
  position: relative;
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 0 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__logo {
  height: 55px;
  width: auto;
}
.header__logo.light {
  display: block;
}
.header__logo.dark {
  display: none;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  transition: all 0.2s ease-in-out 0s;
  min-height: 55px;
}
.header__contacts {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
.header__contacts > a {
  transition: color 0.2s ease-in-out 0s;
  cursor: pointer;
}
.header__contacts > a:hover {
  color: #4B60CC;
}
.header__main-list {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: row;
  row-gap: 0;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.header__sub-list {
  position: absolute;
  top: 30px;
  left: 0;
  overflow: hidden;
  width: -moz-max-content;
  width: max-content;
  transform: translateZ(0);
  will-change: opacity;
  transition: all 0.2s ease-in-out 0s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  border-radius: 10px;
  border: 1px #FFFFFF solid;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(236, 236, 236, 0.2);
}
.header__main-link {
  position: relative;
}
.header__main-link.sub-link > p {
  transition: color 0.2s ease-in-out 0s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  row-gap: 0;
  -moz-column-gap: 7px;
       column-gap: 7px;
  position: relative;
}
.header__main-link.sub-link > p:hover {
  color: #FFFFFF;
}
.header__main-link.sub-link > p::after {
  content: "";
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.header__main-link.sub-link:hover .header__open {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.3);
}
.header__main-link.sub-link:hover .header__open::before {
  opacity: 1;
  transform: translate(-50%, 50%);
}
.header__main-link.sub-link:hover .header__sub-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.header__main-link > a {
  transition: color 0.2s ease-in-out 0s;
  cursor: pointer;
}
.header__main-link > a:hover {
  color: #4B60CC;
}
.header__sub-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  will-change: background-color;
  transition: all 0.2s ease-in-out 0s;
}
.header__sub-link.sub-title {
  background-color: rgba(236, 236, 236, 0.2);
  border-bottom: 1px #FFFFFF solid;
}
.header__sub-link > a {
  width: 100%;
  padding: 15px;
}
.header__sub-link:hover {
  background-color: rgba(236, 236, 236, 0.3);
}
.header__open {
  will-change: background-color, box-shadow;
  transition: all 0.2s ease-in-out 0s;
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px #FFFFFF solid;
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0);
}
.header__open::before {
  content: "";
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  will-change: opacity;
  transition: all 0.2s ease-in-out 0s;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 100%;
  opacity: 0;
  background: #FFFFFF;
}
.header.stick-dark .header__sub-list {
  background: rgba(0, 0, 0, 0.7);
}
.header.stick-dark .header__sub-link.sub-title {
  background: rgba(0, 0, 0, 0.6);
}
.header.stick-dark .header__sub-link:hover {
  background: rgba(0, 0, 0, 0.6);
}
.header.stick-light .header__logo.light {
  display: none;
}
.header.stick-light .header__logo.dark {
  display: block;
}
.header.stick-light .header__nav {
  min-height: 0;
}
.header.stick-light .header__contacts > a {
  color: #232323;
  transition: color 0.2s ease-in-out 0s;
  cursor: pointer;
}
.header.stick-light .header__contacts > a:hover {
  color: #4B60CC;
}
.header.stick-light .header__sub-list {
  border: 1px #232323 solid;
  background: #ECECEC;
}
.header.stick-light .header__main-link.sub-link > p {
  transition: color 0.2s ease-in-out 0s;
  cursor: pointer;
  color: #232323;
}
.header.stick-light .header__main-link.sub-link > p:hover {
  color: #232323;
}
.header.stick-light .header__main-link.sub-link:hover .header__open {
  background-color: #232323;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0);
}
.header.stick-light .header__main-link > a {
  color: #232323;
  transition: color 0.2s ease-in-out 0s;
  cursor: pointer;
}
.header.stick-light .header__main-link > a:hover {
  color: #4B60CC;
}
.header.stick-light .header__sub-link.sub-title {
  background: unset;
  border-bottom: 1px #232323 solid;
}
.header.stick-light .header__sub-link > a {
  color: #232323;
}
.header.stick-light .header__sub-link:hover {
  background: #FFFFFF;
}
.header.stick-light .header__open {
  border: 1px #232323 solid;
}
.header.stick-light .header__open::before {
  background: #232323;
}

.mod__header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
  -moz-column-gap: 0;
       column-gap: 0;
  margin-bottom: 30px;
}
.mod__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px #232323 solid;
}
.mod__title > h1 {
  color: #232323;
}
.mod__close {
  cursor: pointer;
}
.mod__main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.mod__main > .input {
  width: 100%;
}
.mod__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  row-gap: 0;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 100%;
}

.footer__container {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: row;
}
.footer__col {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 20px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.footer__col > a {
  transition: color 0.2s ease-in-out 0s;
  cursor: pointer;
}
.footer__col > a:hover {
  color: #00B2FF;
}
.footer__content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-direction: row;
  row-gap: 0;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-top: 1px #FFFFFF solid;
}
.footer__button > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  width: 100%;
  transition: background-color 0.2s ease-in-out 0s;
  cursor: pointer;
}
.footer__button > a:hover {
  background-color: #012e71;
}
.footer__button > a > img {
  height: 25px;
}

.content__intro {
  margin-top: -150px;
  background-color: #232323;
}
.content__about, .content__cards {
  padding: 60px 0;
}
.content__features {
  background-color: #4B60CC;
}
.content__features, .content__logistic-system, .content__solutions, .content__request, .content__contacts, .content__functionality {
  padding: 60px 0;
}
.content__request.modal {
  margin-bottom: 60px;
}

.intro {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: url("/resources/images/intro/background.png") center no-repeat;
  background-position: bottom;
  background-size: cover;
}
.intro.intro-product {
  background-position: center;
}
.intro::before {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.574) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.intro__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 220px 0 110px 0;
  min-height: calc(100vh - 330px);
  height: -moz-max-content;
  height: max-content;
}
.intro__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 60px;
  -moz-column-gap: 0;
       column-gap: 0;
  max-width: 630px;
}
.intro__content.product {
  row-gap: 90px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.intro__text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 25px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.intro__description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
  -moz-column-gap: 0;
       column-gap: 0;
  max-width: 550px;
}
.intro__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  row-gap: 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.intro__pic {
  position: relative;
  width: 400px;
  height: 400px;
}
.intro__pic > img {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -53%);
  width: 680px;
  -o-object-fit: contain;
     object-fit: contain;
}
.intro__features {
  padding: 40px 0 60px 0;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.53);
  border: 3px solid rgba(0, 0, 0, 0.17);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.intro__cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 1fr;
  row-gap: 0px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
}
.intro__card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.intro__card > img {
  margin-left: -15px;
  margin-bottom: -10px;
}

.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.about__main {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;
  row-gap: 0;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.about__pic {
  border-radius: 15px;
  border: 1px #232323 solid;
  overflow: hidden;
  background-color: #ECECEC;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.about__pic > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
}
.about__text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 7px;
}
.about__text > p {
  max-width: 100%;
}
.about__text.short {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 7px;
}
.about__text.short > p {
  max-width: 87%;
}

.features {
  overflow: hidden;
}
.features__main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  row-gap: 0;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.features__hexagon {
  background: url("/resources/images/features/icon-pentagon.svg") center no-repeat;
  background-size: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.features__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  -moz-column-gap: 0;
       column-gap: 0;
  text-align: center;
}

.cards__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 15px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.cards__card {
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 30px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.cards__card.blue {
  background-color: #00B2FF;
}
.cards__card.blue-dark {
  background-color: #384FCA;
}
.cards__card.purple {
  background-color: #A834D0;
}
.cards__card.pink {
  background-color: #CB416A;
}

.logistic-system {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.logistic-system__main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.logistic-system__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 0;
  -moz-column-gap: 60px;
       column-gap: 60px;
  min-height: 60px;
  height: 100%;
}
.logistic-system__shape {
  min-height: 60px;
  width: 21px;
  position: relative;
}
.logistic-system__shape::before {
  content: "";
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  z-index: 2;
}
.logistic-system__shape::after {
  content: "";
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 100%;
  background: #232323;
}
.logistic-system__shape.first::after {
  bottom: 0;
  height: 50%;
  transform: translate(-50%, 0);
}
.logistic-system__shape.last::after {
  top: 0;
  height: 50%;
  transform: translate(-50%, 0);
}
.logistic-system__shape.first::before, .logistic-system__shape.last::before {
  width: 20px;
  height: 20px;
}
.logistic-system__shape.orange::before {
  background: #D47300;
}
.logistic-system__shape.blue::before {
  background: #384FCA;
}
.logistic-system__shape.purple::before {
  background: #8800B8;
}
.logistic-system__shape.pink::before {
  background: #99005C;
}

.solutions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.solutions__main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.solutions__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  row-gap: 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.solutions__arrow {
  height: 100px;
}
.solutions__arrow.left {
  transform: rotate(180deg);
}

.hangs {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.hangs__row:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 4%;
  width: 76%;
}
.hangs__row:nth-child(1) > p {
  text-align: center;
  max-width: 350px;
}
.hangs__row:nth-child(2) {
  position: relative;
  width: 100%;
  height: 250px;
}
.hangs__row:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  right: 25px;
  width: 73%;
}
.hangs__shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.solution {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  -moz-column-gap: 0;
       column-gap: 0;
  border-radius: 15px;
  padding: 30px;
  width: 100%;
  max-width: 580px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.6, 0.1, 0.15, 0.8);
}
.solution:hover {
  max-width: 100%;
}
.solution:hover .solution__button {
  transform: rotate(90deg);
}
.solution:hover .solution__row.base > p {
  opacity: 0;
}
.solution.base {
  background-color: #4B60CC;
}
.solution__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}
.solution__row.base {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.solution__row.base > p {
  transition: opacity 0.3s ease-in-out 0s;
  opacity: 1;
}
.solution__title {
  font-size: 65px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}
.solution__title.base {
  color: #FFFFFF;
}
.solution__button {
  width: 50px;
  transition: transform 0.3s ease-in-out 0s;
  transform: rotate(0);
}

.request {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.request.modal {
  background: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
  max-width: 1140px;
  padding: 30px;
}
.request.modal .request__title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
}
.request.modal .request__title > p {
  max-width: 100%;
}
.request.modal .request__main {
  width: 100%;
}
.request__title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
}
.request__title > p {
  max-width: 100%;
}
.request__main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.request__inputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  row-gap: 0;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.contacts__main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.contacts__map {
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.contacts__map > iframe {
  width: 100%;
  height: 430px;
}
.contacts__props {
  width: 100%;
}

.props {
  overflow: hidden;
}
.props__main {
  background-color: #FFFFFF;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  row-gap: 30px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.props__row {
  justify-content: space-between;
}
.props__row:nth-child(1) {
  padding: 30px 30px 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.props__row:nth-child(2) {
  padding: 0 30px 30px 30px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}
.props__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
  -moz-column-gap: 0px;
       column-gap: 0px;
}
.props.prop-open .props__button {
  border-radius: 15px 15px 0 0;
}

.functionality {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.functionality__main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  row-gap: 0;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  border-radius: 10px;
  border: 1px #232323 solid;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  background: transparent;
}
.sidebar__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  row-gap: 0;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 20px 30px;
  transition: background 0.2s ease 0s;
}
.sidebar__row.active {
  background: #4B60CC;
}
.sidebar__row:nth-child(2) {
  border-top: 1px #232323 solid;
  border-bottom: 1px #232323 solid;
}

.func {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 50px;
  -moz-column-gap: 0;
       column-gap: 0;
  border-radius: 15px;
  height: -moz-fit-content;
  height: fit-content;
  width: calc(100% - 60px);
  overflow: hidden;
  background: #FFFFFF;
  padding: 30px;
}
.func__blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.func__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.func__item.half > p {
  width: 70%;
}
.func__item.full > p {
  width: 73%;
}
.func__item-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  row-gap: 0;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.func__buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 30px;
  -moz-column-gap: 0;
       column-gap: 0;
}
.func__button {
  width: 100%;
}