.footer {
	@include flex(center, center, column);

	&__container {
		@include flex(space-between, space-between, row);
		margin: 30px 0;
	}

	&__col {
		width: fit-content;
		max-width: 300px;

		@include flex(space-between, flex-start, column);

		@include gap(20px, 0);

		&>a {
			@include link-hover($BLL);
		}
	}

	&__content {
		@include flex(space-between, flex-start, row);
		@include gap(0, 30px);

		width: 50%;
	}

	&__button {
		width: 100%;
		@include flex(center, center, row);

		border-top: 1px $WHT solid;

		&>a {
			@include flex(center, center, row);
			height: 50px;
			width: 100%;

			@include link-back($BLM);

			&>img {
				height: 25px;
			}
		}
	}

	@media (max-width: $lg) {
		&__col.commerce {
			img {
				max-width: 190px;
			}
		}

		&__content {
			@include gap(0, 0);
			width: auto;
		}
	}

	@media (max-width: $md) {
		&__container {
			@include flex(flex-start, center, column);
			@include gap(50px, 0);
		}

		&__col.commerce {
			align-items: center;
		}

		&__col {
			@include flex(flex-start, center, column);
			@include gap(15px, 0);
			width: 100%;

			text-align: center;
		}

		&__content {
			@include flex(flex-start, center, column);
			@include gap(50px, 0);
		}

		&__button {
			&>a {
				height: 70px;
			}
		}
	}
}