.footer {
  $footer: &;

  @include flex(center, center, column);

  &__container {
    @include flex(space-between, space-between, row);
    margin: 30px 0;
  }
  &__col {
    width: fit-content;
    max-width: 300px;

    @include flex(space-between, flex-start, column);

    @include gap(20px, 0);

    & a {
      @include link-hover($BLL);
    }
  }

  &__content {
    @include flex(space-between, flex-start, row);
    @include gap(0, 30px);

    width: 50%;
  }
  &__commerce {
    @include flex(flex-start, flex-start, column);
    @include gap(10px, 0);
  }

  &__en-link {
    @include flex(flex-start, center, row);
    @include gap(0, 5px);

    & > svg > path {
      will-change: stroke;
      transition: stroke $trans-2;
    }

    &:hover,
    & > a:hover {
      & > svg > path {
        stroke: $BLL;
      }
    }
  }
  &__button {
    width: 100%;
    @include flex(center, center, row);

    border-top: 1px $WHT solid;

    & > a {
      @include flex(center, center, row);
      height: 50px;
      width: 100%;

      @include link-back($BLM);

      & > img {
        height: 25px;
      }
    }
  }

  @media (max-width: $lg) {
    &__content {
      @include gap(0, 0);
      width: auto;
    }
  }
  @media (max-width: $md) {
    &__container {
      @include flex(flex-start, center, column);
      @include gap(50px, 0);
    }
    &__col {
      @include flex(flex-start, center, column);
      @include gap(15px, 0);
      width: 100%;

      text-align: center;

      &.commerce > p {
        display: none;
      }
    }
    &__commerce {
      @include flex(flex-start, center, column);
    }
    &__content {
      @include flex(flex-start, center, column-reverse);
      @include gap(50px, 0);
    }
    &__button {
      & > a {
        height: 70px;
      }
    }
  }
}
