.intro {
	@include flex(flex-start, center, column);
	position: relative;
	overflow: hidden;

	background: url('/resources/images/common/intro/back-intro.png') center no-repeat;
	background-position: bottom;

	background-size: cover;

	&.type-products {
		background-position: center;

		.intro__main {
			padding: 165px 0 55px 0;
			min-height: fit-content;
			height: auto;
		}

		.intro__content {
			@include gap(30px, 0);
		}

		.intro__buttons>.btn {
			min-width: 300px;
		}
	}

	&.type-product {
		background-position: center;

		.intro__main {
			min-height: calc(100vh - 305px);
		}

		.intro__content {
			@include gap(80px, 0);
			max-width: 570px;
		}

		.intro__text {
			max-width: 520px;
		}

		.intro__buttons>.btn {
			min-width: 300px;
		}

		.intro__products {
			display: none;
			visibility: hidden;
		}
	}

	&::before {
		@include pseudo;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background: linear-gradient(180deg, rgba(0, 0, 0, 0.634) 0%, rgba(0, 0, 0, 0.7) 100%);
	}

	&__main {
		@include flex (space-between, center, row);
		padding: 205px 0 100px 0;

		min-height: fit-content;
		height: auto;
	}

	&__content {
		@include flex(center, flex-start, column);
		@include gap(50px, 0);

		max-width: 550px;
	}

	&__text {
		@include flex(center, flex-start, column);
		@include gap(20px, 0);
	}

	&__description {
		@include flex(center, flex-start, column);
		@include gap(10px, 0);
	}

	&__buttons {
		@include flex(flex-start, center, row);
		@include gap(0, 20px);
	}

	&__pic {
		position: relative;
		width: 400px;
		height: 400px;

		&>img {
			position: absolute;
			top: 55%;
			left: 50%;
			transform: translate(-50%, -53%);

			width: 630px;
			object-fit: contain;
		}
	}

	&__pic-mobile {
		position: relative;
		width: 100%;
		height: 300px;

		display: none;
		visibility: hidden;
		pointer-events: none;

		img {
			position: absolute;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);

			object-fit: contain;
			height: 490px;
		}
	}

	// Features
	&__features {
		padding: 25px 0 45px 0;
		width: 100%;
		z-index: 2;

		background: rgba(0, 0, 0, 0.53);
		backdrop-filter: blur(10px);
	}

	&__cards {
		@include grid(repeat(4, auto), 1fr);
		@include gap(0px, 30px);
	}

	&__card {
		@include flex(center, flex-start, column);

		&>img {
			margin-left: -15px;
			margin-bottom: -10px;
		}
	}

	@media (max-width: $xl) {
		&__pic {
			width: 200px;
			height: 200px;

			&>img {
				width: 430px;
			}
		}

		&__cards {
			align-items: flex-start;
			@include gap(0px, 20px);
		}

		&__card {
			@include flex(center, flex-start, column);
			max-width: 180px;
		}
	}

	@media (max-width: $lg) {
		&__pic {
			display: none;
		}

		&__description {
			max-width: none;
		}

		&__cards {
			@include grid(repeat(2, auto), 1fr);
			@include gap(30px, 30px);
			justify-content: space-between;
		}

		&__card {
			max-width: none;
		}
	}

	@media (max-width: $md) {
		&__main {
			height: fit-content;
			padding: 180px 0 80px 0;
		}

		&__content {
			max-width: none;
		}

		&__cards {
			@include gap(30px, 50px);
		}

		&.type-products {
			.intro__main {
				padding: 180px 0 30px 0;
			}
		}

		&.type-product {
			.intro__main {
				padding: 180px 0 30px 0;
				min-height: fit-content;
				height: auto;
			}

			.intro__content {
				@include gap(30px, 0);
				max-width: none;
			}

			.intro__text {
				max-width: none;
			}

			.intro__products {
				display: grid;
				visibility: visible;
			}
		}
	}

	@media (max-width: $sm) {
		background-position: top;

		&__main {
			padding: 180px 0 30px 0;
		}

		&__pic-mobile {
			display: flex;
			visibility: visible;
		}

		&__buttons {
			@include flex(flex-start, flex-start, column);
			@include gap(15px, 0);
			width: 100%;
		}

		&__features {
			padding: 25px 0;
		}

		&__cards {
			@include grid(1fr, 1fr);
			@include gap(0, 0);
		}

		&__card {
			@include flex(flex-start, center, row);
			@include gap(0, 10px);

			&>img {
				height: 80px;
				margin-left: 0;
				margin-bottom: 0;
			}
		}
	}
}

.products {
	@include grid(repeat(3, 1fr), 1fr);
	padding: 0;
	overflow: hidden;

	background-color: rgba(0, 0, 0, 0.53);
	backdrop-filter: blur(10px);

	border-radius: $radius-m $radius-m 0 0;
	border: 1px $WHT solid;

	&__item {
		padding: 20px;
		@include grid(1fr, auto);
		@include gap(15px, 0);

		cursor: pointer;
		will-change: background-color;
		transition: background-color $trans-3;
		background: rgba(0, 0, 0, 0.0);

		&:nth-child(2) {
			border-left: 1px $WHT solid;
			border-right: 1px $WHT solid;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.53);
		}
	}

	&__header {
		@include flex(space-between, center, row);
	}

	&__buttons {
		@include flex(space-between, flex-end, row);

		&>img {
			width: 30px;
			transform: rotate(-90deg);
		}
	}

	@media (max-width: $md) {
		@include grid(1fr, repeat(3, 1fr));

		&__item {
			@include gap(10px, 0);

			&:nth-child(2) {
				border-left: none;
				border-right: none;
				border-top: 1px $WHT solid;
				border-bottom: 1px $WHT solid;
			}
		}
	}
}