.cards {

	&__main {
		@include grid(repeat(2, 1fr), repeat(2, 1fr));
		@include gap(20px, 20px);
	}

	&__card {
		padding: 30px;
		border-radius: $radius-m;

		@include flex(space-between, flex-start, column);
		@include gap(40px, 0);

		box-shadow: $card-shadow;
		background: $card-gradient;

		transition: box-shadow .2s ease-in-out 0s;

		&:hover {
			box-shadow: $card-shadow-hover;
		}
	}
}