.features {
	overflow: hidden;

	&__main {
		@include grid(repeat(6, 1fr), 1fr);
		@include gap(0, 15px);
	}

	&__item {
		@include flex(center, center, column);
		@include gap(15px, 0);
		height: 203px;

		text-align: center;

		background: url('/resources/images/main-page/features/pentagon-vector.svg') center no-repeat;
		background-size: 100%;
	}
}