.catalog {

	&__content {
		@include grid(1fr, auto);
		@include gap(100px, 0);
	}

	&__item {
		@include grid(1.3fr auto, auto);
		@include gap(0, 50px);
	}

	&__main {
		@include flex(flex-start, flex-start, column);
		@include gap(30px, 0);
	}

	&__text {
		@include flex(flex-start, flex-start, column);
		@include gap(20px, 0);

		&>p {
			padding-left: 35px;
			position: relative;

			&::before {
				@include pseudo;
				top: 3px;
				left: 0;

				width: 18px;
				height: 18px;

				border-radius: 50%;
			}

			&.red {
				&::before {
					background: #FF4733;
				}
			}

			&.yel {
				&::before {
					background: #FFCB70;
				}
			}

			&.orn {
				&::before {
					background: #FF574C;
				}
			}

			&.blu {
				&::before {
					background: #497088;
				}
			}
		}
	}

	&__button {
		max-width: 330px;
		width: 100%;
	}

	&__pic {
		@include flex(center, center, column);
		width: 450px;

		img {
			height: 350px;
			max-width: 100%;
			object-fit: contain;
		}
	}

	@media (max-width: $lg) {
		&__pic {
			width: 250px;

			img {
				height: auto;
			}
		}
	}

	@media (max-width: $md) {
		&__item {
			@include grid(1fr, auto);
			@include gap(30px, 0);
		}

		&__pic {
			width: 100%;

			img {
				max-width: 300px;
			}
		}
	}

	@media (max-width: $sm) {
		&__pic {

			img {
				max-width: 100%;
			}
		}
	}
}