.catalog {

	@include flex(flex-start, center, column);
	@include gap(50px, 0);

	&__content {
		@include grid(1fr, auto);
		@include gap(90px, 0);
	}

	&__item {
		@include grid(1.3fr auto, auto);
		@include gap(0, 50px);
	}

	&__main {
		@include flex(flex-start, flex-start, column);
		@include gap(20px, 0);
	}

	&__title {
		@include title(20px, 100%);
	}

	&__text {
		@include flex(flex-start, flex-start, column);
		@include gap(20px, 0);

		&>p {
			padding-left: 35px;
			position: relative;

			&::before {
				@include pseudo;
				top: 3px;
				left: 0;

				width: 18px;
				height: 18px;

				border-radius: 50%;
			}

			&.red {
				&::before {
					background: #FF4733;
				}
			}

			&.yel {
				&::before {
					background: #FFCB70;
				}
			}

			&.orn {
				&::before {
					background: #FF574C;
				}
			}

			&.blu {
				&::before {
					background: #497088;
				}
			}
		}
	}

	&__pic {
		@include flex(center, center, column);
		width: 450px;

		&>img {
			// width: 500px;
			height: 366px;
			max-width: 100%;
			object-fit: contain;
		}
	}
}